.card {
  background-color: var(--neutral-100);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: 32px;
  color: var(--neutral-800);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: var(--hover-shadow);
}

.headingAndHover {
  display: flex;
  width: 100%;
  gap: 16px;
}

.heading {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

.icon {
  opacity: 0;
  visibility: 0;
}

.icon[data-shown="true"],
.card:hover .icon {
  opacity: 1;
  visibility: 1;
}

.icon[data-shown="true"] path {
  fill: var(--primary-500);
  stroke: var(--primary-500);
}

.icon:hover path {
  fill: var(--primary-400);
  stroke: var(--primary-400);
}

.wages {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 16px;
}

.text {
  font-size: 12px;
  line-height: 1.333;
  font-weight: 500;
}

.experience {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.mb8 {
  margin-bottom: 8px;
}

.loaderPar,
.loaderHeader,
.loaderCom,
.loaderTxt,
.loaderBall,
.loaderExp {
  width: 100%;
  height: 24px;
  background-color: var(--loader);
  border-radius: 16px;
}

.loaderHeader {
  margin-bottom: 8px;
}

.loaderPar {
  width: 131px;
  margin-bottom: 16px;
}

.loaderTxt,
.loaderCom {
  height: 16px;
  width: 96px;
  margin-bottom: 8px;
}

.loaderTxt {
  width: 55px;
  height: 16px;
}

.loaderBall {
  width: 16px;
  height: 16px;
}

.loaderExp {
  width: 148px;
  height: 16px;
}

@media all and (max-width: 1023.9px) {
  .card {
    padding: 24px;
  }
  .wages {
    margin-bottom: 12px;
  }

  .experience {
    margin-top: 12px;
  }

  .vissible {
    opacity: 1;
    visibility: 1;
  }
}

@media all and (max-width: 767.9px) {
  .card {
    padding: 16px;
  }

  .heading,
  .wages {
    font-size: 14px;
    line-height: 143%;
  }

  .text {
    font-size: 12px;
    line-height: 133%;
  }

  .mb8 {
    margin-bottom: 4px;
  }

  .experience {
    margin-top: 8px;
  }

  .loaderHeader {
    margin-bottom: 4px;
    width: 75%;
  }

  .loaderPar {
    margin-bottom: 12px;
  }

  .loaderTxt,
  .loaderCom {
    margin-bottom: 4px;
  }

  .loaderPar,
  .loaderHeader {
    height: 20px;
  }

  .loaderCom,
  .loaderTxt,
  .loaderBall,
  .loaderExp {
    height: 16px;
  }
}
