.card {
  height: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: var(--box-shadow-hover);
}

.container {
  position: relative;
}

.hideBtn {
  position: absolute;
  top: 2px;
  right: 0;
  color: var(--neutral-400);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
}

.hideImg {
  width: 16px;
  height: 16px;
}

.hideImg path {
  transition: 0.2s;
  fill: var(--neutral-600);
  stroke: var(--neutral-600);
}

.hideImg:hover path {
  fill: var(--primary-500);
  stroke: var(--primary-500);
}

.card:hover .hideBtn {
  opacity: 1;
  pointer-events: all;
}

.name {
  margin-bottom: 4px;
  padding-right: 48px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.salary {
  margin-bottom: 16px;
  padding-right: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.company {
  display: block;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.city {
  display: block;
  margin-bottom: 16px;
}

.experience {
  display: flex;
  align-items: center;
  gap: 8px;
}
