.card {
  background-color: var(--neutral-100);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: 32px;
  color: var(--neutral-800);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;

  @media screen and (max-width: 1023px) {
    padding: var(--clamp-16-32);
  }
}

.card:hover {
  box-shadow: var(--hover-shadow);
}

.headingAndHover {
  display: flex;
  width: 100%;
  gap: 16px;
}

.heading {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;

  @media screen and (max-width: 1023px) {
    font-size: var(--clamp-14-16);
    line-height: var(--clamp-20-24);
  }
}

.icon {
  display: none;
}

.icon svg {
  width: 16px;
  height: 20px;
}

@media screen and (max-width: 1023px) {
  .icon {
    display: block;
  }
}

.eye {
  fill: var(--primary-400);
}

.card:hover .icon {
  display: block;
}

.wages {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 16px;

  @media screen and (max-width: 1023px) {
    font-size: var(--clamp-14-16);
    line-height: var(--clamp-20-24);
    margin-bottom: var(--clamp-12-16);
  }
}

.text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mb8 {
  margin-bottom: 8px;

  @media screen and (max-width: 1023px) {
    margin-bottom: var(--clamp-4-8);
  }
}

.experience {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;

  @media screen and (max-width: 1023px) {
    margin-top: var(--clamp-8-16);
  }
}

.loaderPar,
.loaderHeader,
.loaderCom,
.loaderTxt,
.loaderBall,
.loaderExp {
  width: 100%;
  height: 24px;
  background-color: var(--loader);
  border-radius: 16px;

  @media screen and (max-width: 1023px) {
    height: var(--clamp-20-24);
  }
}

.loaderHeader {
  margin-bottom: 8px;
}

.loaderPar {
  width: 131px;
  margin-bottom: 16px;
}

.loaderTxt,
.loaderCom {
  height: 16px;
  width: 96px;
  margin-bottom: 8px;
}

.loaderTxt {
  width: 55px;
  height: 16px;
}

.loaderBall {
  width: 16px;
  height: 16px;
}

.loaderExp {
  width: 148px;
  height: 16px;
}
