.sticky {
  position: sticky;
  top: 104px;
  padding: 32px;
}

.companyLogo {
  width: 108px;
  height: 60px;
  margin-bottom: 16px;
  border-radius: var(--border-radius);
  object-fit: contain;
}

.companyName {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}

.companyAddress {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
