.baseButton {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  color: var(--blue);
  transition: color 0.2s;
}

.disabled {
  color: var(--grey);
}

.disabled:hover {
  color: var(--lightBlue);
}
