.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.block {
  height: 48px;
  border-radius: 16px 16px 0 0;
  /* background: var(--neutral-100); */
  background: transparent;
}

.dropdownList {
  max-height: 400px;
  border-radius: 0 0 16px 16px;
  background: var(--neutral-100);
  box-shadow: var(--shadow);
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdownList::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.dropdownList::-webkit-scrollbar-thumb {
  background-color: #5c89ce;
  border-radius: 2px;
}

.dropdownMenu label:first-child {
  margin-top: 8px;
}

.dropdownMenu label:last-child {
  margin-bottom: 8px;
}

.dropdownMenu label:not(:last-child) {
  margin-bottom: 4px;
}
