.wrapper {
  position: relative;
  padding: 32px 40px;

  @media screen and (max-width: 1023px) {
    padding: var(--clamp-16-32) var(--clamp-20-40);
  }
}

.heading,
.loader {
  position: sticky;
  top: 82px;
  z-index: 8;
  font-size: 24px;
  line-height: 32px;
  color: var(--neutral-800);
  margin-bottom: 32px;

  @media screen and (max-width: 1023px) {
    font-size: var(--clamp-20-24);
    line-height: var(--clamp-28-32);
    margin-bottom: var(--clamp-16-32);
    top: clamp(4.125rem, 3.546rem + 2.47vw, 5.125rem);
  }
}

.loader {
  background-color: var(--loader);
  border-radius: 16px;
  width: 256px;
  height: 32px;
}

.heading::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: -10px;
  background: var(--neutral-200);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
  list-style: none;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--clamp-16-32);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
