.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}

.title {
  display: block;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333;
}

.skeleton {
  width: 256px;
  height: 32px;
  border-radius: var(--border-radius);
  background-color: var(--neutral-300);
}
