.wrapper {
  max-width: var(--container-max-width);
  margin-inline: auto;
  min-height: calc(100dvh - var(--header-height-desktop));
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1023.9px) {
  .wrapper {
    min-height: calc(100dvh - var(--header-height-tablet));
  }
}

@media all and (max-width: 767.9px) {
  .wrapper {
    min-height: calc(100dvh - var(--header-height-mobile));
  }
}
