.input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: text;

  border-radius: 16px;
  width: 100%;
  max-width: 352px;
  height: 48px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  background: #f9f9f9;
  transition: 0.2s;
}

.input-wrapper:hover {
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.08);
  background-color: #ebf1fa;
}

.input {
  cursor: text;
  padding: 16px 0 16px 56px;
  background: none;

  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  color: #202020;
  width: 100%;
  max-width: 100%;
}

.input::placeholder {
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  color: #747474;
}

.input:not(:placeholder-shown) + .reset-btn {
  display: block;
  opacity: 1;
}

.reset-btn {
  display: none;
  opacity: 0;
  background: none;
  transition: 0.2s;
  padding: 18px 24px;
}

.reset-btn:hover svg path {
  transition: 0.2s;
}

.reset-btn:hover svg path {
  fill: #5c89ce;
}

.bg-icon {
  position: absolute;
  top: 16px;
  left: 24px;
  pointer-events: none;
}

.bg-colored {
  background-color: #ebf1fa;
}
