html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #5c89ce;
  border-radius: 2px;
}

body {
  margin: 0;
  min-width: 1024px;
  font-family: Montserrat, sans-serif;
  background: var(--white-cream);
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}

input:disabled,
textarea:disabled,
button:disabled {
  pointer-events: none;
}

img,
svg {
  display: block;
}

p {
  margin: 0;
}

a {
  color: var(--darkGrey);
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
