*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Montserrat", sans-serif;
  line-height: normal;
  color: var(--neutral-800);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

img,
svg {
  display: block;
}

input:disabled,
button:disabled {
  opacity: .7;
  pointer-events: none;
}

.btn {
  padding: 0;
  border: none;
  color: var(--neutral-filled-400);
  background: none;
  cursor: pointer;
  user-select: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.descr {
  margin: 0;
}

.title {
  margin: 0;
}

.app {
  position: relative;
  height: 100vh;
  min-width: 1024px;
  background: var(--neutral-200);
  overflow-y: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}