html {
  font-family: var(--font-family);
  color: var(--text-dark-color);
  font-weight: 500;
}

body {
  background-color: var(--bg-medium-color);

  min-width: 1024px; /* когда репа дойдет до адаптива это нужно убрать */
}

.container {
  max-width: calc(1120px);
  margin-inline: auto;
  padding-inline: 40px;
}
