:root {
  --font-family: 'Montserrat', sans-serif;

  --bg-light-color: #f9f9f9;
  --bg-medium-color: #f6f6f6;

  --text-dark-color: #202020;
  --text-medium-color: #747474;
  --text-light-color: #c5c5c5;
  --accent-color: #5c89ce;
  --accent-color-light: #8caee0;

  --border-radius-normal: 16px;

  --indent-small: 8px;
  --indent-medium: 16px;
  --indent-medium-big: 24px;
  --indent-big: 32px;

  --text-size-small: 12px;
  --text-size-small-medium: 14px;
  --text-size-medium: 16px;
  --text-size-big: 24px;

  --line-height-medium: 1.33;
  --line-height-medium-big: 1.43;
  --line-height-big: 1.5;

  --box-shadow-normal: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  --box-shadow-active: 4px 4px 15px 0 rgba(0, 0, 0, 0.08);

  --transition-normal: 0.2s ease-in;
}
