.wrapper {
  padding-top: 48px;
}

.list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 16px;
}

.resetWrapper {
  width: 100%;
  text-align: end;
}

.reset {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.filterItem {
  transition: box-shadow 0.2s;
  box-shadow: var(--shadow);
}

.filterItem:hover {
  box-shadow: var(--hover-shadow);
}

.briefCase {
  gap: 4px;
  padding: 8px 24px;
}
