.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white-full);
  border-radius: 16px;
  padding: 16px 24px;
  gap: 16px;
  position: relative;
}

.wrapper:not(:has(input)) {
  cursor: pointer;
}

.wrapper[data-level="low"] .icon {
  margin-left: 4px;
}

.wrapper[data-level="low"]:hover .chevron path {
  fill: var(--black);
}

.wrapper[data-level="low"]:hover .title {
  color: var(--black);
}

.wrapper:not([data-level="low"]):hover {
  background-color: #ebf1fa;
}

.wrapper:has(.active) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.title {
  display: flex;
  gap: 16px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: var(--darkGrey);
  flex: 1;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  flex: 1;
}

.title[data-active="true"],
.input[data-active="true"] {
  color: var(--black);
}

.chevron {
  transform: rotate(0);
  transition: transform 0.3s;
}

.active {
  transform: rotate(90deg);
}

.active path {
  fill: var(--black);
}

.icon {
  width: 16px;
  height: 16px;
}

.iconClear:hover > path {
  fill: var(--blue);
}

.wrapper[data-level="low"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, #f9f9f9, #efefef, #f9f9f9);
}
