.wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--white-full);
  box-shadow: var(--shadow);
  z-index: 50;
}

.container {
  display: grid;
  width: 100%;
  padding: 24px 40px;
  min-width: 1024px;
  max-width: 1200px;
}

.controls {
  display: flex;
  gap: 72px;
}

.navButton {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

@media (min-width: 1600px) {
  .container {
    grid-template-columns: 1fr 1.25fr;
  }
}

@media (min-width: 1280px) and (max-width: 1599px) {
  .container {
    grid-template-columns: 1fr 1.87fr;
  }
}

@media (max-width: 1279px) {
  .container {
    grid-template-columns: 1fr 2.15fr;
  }
}
