.wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
}

.header {
  display: flex;
  align-items: center;
  gap: 130px;
  height: clamp(3.5rem, 2.543rem + 4.08vw, 4.5rem);
  padding-inline: 40px;
  margin-inline: auto;
  max-width: var(--container-max-width);
  min-width: var(--container-min-width);

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    padding-inline: var(--clamp-20-40);
  }
}

.logo {
  @media screen and (max-width: 1023px) {
    height: var(--clamp-16-24);
    width: clamp(7.375rem, 5.494rem + 8.02vw, 10.625rem);
  }
}

.menu {
  display: flex;
  gap: 72px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.modal {
  z-index: 30;
  position: fixed;
  display: flex;
  flex-direction: column;

  visibility: hidden;
  width: 100%;
  height: calc(100vh - clamp(3.5rem, 2.543rem + 4.08vw, 4.5rem));

  opacity: 0;
  transition: opacity 0.2s ease-in;

  background-color: var(--neutral-100);
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

@media screen and (width > 767px) {
  .modal {
    display: none;
  }
}

.menuMobileWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.menuMobile {
  display: flex;
  flex-direction: column;
  gap: var(--clamp-24-32);
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--neutral-400);
  font-size: 14px;
  line-height: 20px;
  transition: color 0.2s ease-in-out;
}

.button:not(.active):hover {
  color: var(--primary-400);
}

.active {
  color: var(--primary-500);
}

.mobileMenuBtn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.mobileMenuIcon {
  height: 24px;
  width: 24px;
}
