header {
  width: 100%;
  padding: 24px 40px;
  background-color: #fff;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: calc(1280px - 160px);
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.menu {
  padding-left: clamp(8.125rem, -14.375rem + 35.16vw, 13.75rem);
}

.menu-list {
  display: flex;
  align-items: center;
  column-gap: 75px;
}

.menu-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #c5c5c5;
  cursor: pointer;
}

.menu-item:not(.active):hover {
  color: #5c89ce;
  opacity: 0.6;
  transition: 0.2s;
}

.active {
  color: #5c89ce;
}
