.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--neutral-100);
  box-shadow: var(--box-shadow);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.nav {
  flex-grow: 1;
}

.navList {
  display: flex;
  justify-content: center;
  gap: 72px;
}

.navLink {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.429;
  color: var(--neutral-400);
  transition: color .2s ease-in-out;
}

.navLink:hover {
  color: var(--primary-400);
}

.navLink.active {
  color: var(--primary-500);
}

@media (max-width: 1280px) {
  .navList {
    padding-right: 150px;
  }
}