.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 24px;

  background-color: var(--primary-350);
  border-radius: 8px;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

.wrapper.hidden {
  opacity: 0;
  visibility: hidden;
}

.count {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-800);
}
