.wrapper {
  padding-block: var(--indent-big);
}

.text {
  font-weight: 500;
  font-size: var(--text-size-small-medium);
  line-height: var(--line-height-medium-big);

  color: var(--text-medium-color);

  margin: 0;
}

.link {
  color: var(--text-medium-color);
}
