.filter-list-wrapper {
  padding: 32px 0;
  position: relative;
}

.filter-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}

.reset-btn-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 16px;
}

.reset-btn {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  color: var(--primary-500);
  background: none;
  transition: 0.2s;
  border: none;
  padding: 0;
  cursor: pointer;
}

.reset-btn:hover {
  color: #8caee0;
}

.button-lists {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 8px 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.element {
  padding: 0;
  list-style: none;
}

.nested-filter:not(:last-child) {
  border-bottom: 1px solid;
  border-color: #c5c5c5;
  border-image: linear-gradient(to right, transparent, #c5c5c5, transparent) 1%
    1%;
}

.nested-list {
  padding: 0;
  margin: 0;
}

.nested-filter {
  padding: 0;
  list-style: none;
  margin: 0;
}

.reset-btn-wrapper {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
