@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'nullstyle.css';

body {
  min-width: 1024px;
  font-family: 'Montserrat', sans-serif;
  background-color: #e1e1e1;
}

.container {
  max-width: calc(1280px - 80px);
  margin: 0 auto;
}
