.requirementsTitle {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.requirementsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 32px;
}

.requirementsItem {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.429;
}
