*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 1024px;
  padding-top: 72px;
  font-family: var(--font-family);
  background-color: var(--bg-2);
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
}

.btn-reset {
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}


.scrollbar-main::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-main::-webkit-scrollbar-track {
  border-radius: 4px;
}

.scrollbar-main::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var( --active-1);
}

.scrollbar-main:hover::-webkit-scrollbar-thumb {
  background: var( --active-1);
}

.d-none {
  display: none;
}