.vacancy-block {
  display: grid;
  row-gap: 32px;
  padding-block: 32px;
}

.vacancy-block__data h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #202020;
}

.vacancy-block__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}
