.wrapper {
  padding-block: var(--indent-big);
}

.date {
  font-weight: 700;
  font-size: var(--text-size-big);
  line-height: var(--line-height-medium);
  color: var(--text-dark-color);

  margin: 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--indent-big);

  margin: 0;
  padding: 0;
  margin-top: var(--indent-big);
  list-style-type: none;
}
